<br>

<style>
  #notice {
    text-align: center;
    color: green; /* Change the color to red */
  }
</style>

<div id="notice"><%= notice %></div>

<br>
<br>

<div class="header-content">
  <h1>Tasks</h1>
  <%= link_to 'New Task', new_task_path %>
</div>

<%= submit_tag 'Filter by due date', class: 'btn search-button'%>

<table id="tasks-table" class="display">
  <thead>
    <tr>
      <th>Date Added</th>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Task Category</th>
      <th>Task Due Date</th>
      <th>Task Completed</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.created_at.strftime("%B %d %Y") %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.name %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.description %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.category %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.duedate.strftime("%B %d %Y") %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task-settings' if task.completed %>"> <%= check_box_tag "task_completed", 1, task.completed, disabled: true %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task-settings' if task.completed %>">
          <%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= button_to 'Delete', task, method: :delete, class: 'delete-button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
  $(document).ready(function() {
    $('#tasks-table').DataTable();
  });
</script>