<html>
  
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
</head>

<br>
<br>

<body>

<div id="notice"><%= notice %></div>

<br>

<div class="header-content">
  <h1>Tasks</h1>
  <%= link_to 'Create New Task', new_task_path %>
</div>



<div class = "pull-right range-query">
  <%= form_tag tasks_path, method: :get do %>
    <%=text_field_tag 'search[date_from]' , @search.date_from %>
    <%=text_field_tag 'search[date_to]' , @search.date_to %>
    <%= submit_tag 'Search', class: 'btn search-button'%>
  <%end%>
</div>



<table id="tasks-table" class="display">
  <thead>
    <tr>
      <th class="sortable">Date Added</th>
      <th class="sortable">Task Name</th>
      <th>Task Description</th>
      <th class="sortable">Task Category</th>
      <th class="sortable">Task Due Date</th>
      <th class="sortable">Task Completed</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
       <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.created_at.in_time_zone('Hawaii').strftime("%B %d %Y") %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.name %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.description %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.category %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task' if task.completed %>" ><%= task.duedate.strftime("%B %d %Y") %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task-settings' if task.completed %>"> <%= check_box_tag "task_completed", 1, task.completed, disabled: true %></td>
        <td class="<%= task.category.parameterize%> <%='completed-task-settings' if task.completed %>">
          <%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <br>
          <%= button_to 'Delete', task, method: :delete, class: 'delete-button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#tasks-table').DataTable({
      "order": [], // Initialize with no default sorting

      // Define sorting options for specific columns
      "columnDefs": [
        {
          "targets": 'sortable', // Add the "sortable" class to the th elements you want to make sortable
          "orderable": true, // Enable sorting for these columns
        },
      ],
    });
  });
</script>
</body>
</html>

